@page {
    size: A4;
    margin: 0;
}
@media print {
    html, body {
        width: 148.5mm;
        height: 210mm;
    }
}

body {
    font-family: "Source Code Pro", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
}

#container {

}

.song {
    break-after: page;
    width: fit-content;
    padding: 5mm;
}

.lyrics {
    letter-spacing: -0.27mm;
    font-size: 40px;
}

.verse {
    margin-top: 1rem;
}

.columns {
    column-count: 2;
    column-gap: 1em;
    column-rule: 1px solid black;
}

.columns .verse {
    break-inside: avoid;
}

.title {
    font-weight: 600;
    font-size: 40px;
    text-wrap: nowrap;
}

.chord {
    display: inline;
    font-weight: 600;
}

.line {
    white-space: pre;
}