@page {
    size: A4;
    margin: 0;
}
@media print {
    html, body {
        width: 148,5mm;
        height: 210mm;
    }
}

.verse {
    margin-top: 1rem;
}

.columns {
    column-count: 2;
    column-gap: 1em;
    column-rule: 1px solid black;
}

.columns .verse {
    break-inside: avoid;
}

.title {
    font-weight: bold;
    font-size: 3rem;
}

.chord {
    display: inline;
    font-weight: bold;
}

.line {
    white-space: pre;
}
.song {
    font-family: monospace;
    break-after: page;
    width: fit-content;
    border: 1px solid black;
}